{
"log": {
  "access": "{{ xray_access_log_path }}",
  "error": "{{ xray_error_log_path }}",
  "loglevel": "warning"
},

  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ xray_listen_port }},
      "protocol": "{{ xray_protocol }}",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_uuid }}",
            "flow": "{{ xray_flow }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ reality_dest_server }}",
          "xver": 0,
          "serverNames": {{ reality_server_names | to_json }},
          "privateKey": "{{ reality_private_key }}",
          "shortIds": [
            "{{ reality_short_id }}"
          ]
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
